/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#container {
  width: 100%;
}

.navbar {
  text-decoration: none;
}

.nav {
  background: white;
  float: left;
  width: 25%;
  text-align: center;
  list-style: none;
} */

/* real */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#container {
  width: 100%;
  background-color: red;
}

#header-color {
  color: white;
}

/* #navdiv {
} */

.navbar {
  text-decoration: none;
  color: gold;
}

.nav {
  background: red;
  float: left;
  width: 25%;
  text-align: center;
  list-style: none;
}
